name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'  # ← ЭТО ОБЯЗАТЕЛЬНО!
        java-version: '11'
        
    - name: Start Application
      run: |
        java -jar ./artifacts/app-card-delivery.jar &
        sleep 15
        
    - name: Run tests
      run: |
        chmod +x gradlew
        ./gradlew test -Dselenide.headless=true
