name: Run Tests

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Java 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'  # ← ЭТО ВАЖНО!
        
    - name: Run tests
      run: |
        chmod +x gradlew
        ./gradlew test -Dselenide.headless=true
